/* taretting html body */
body { 
    background-color:skyblue;
    padding:0px 80px;
    }
    h1 {
    color:green;
    font-size: 50px;
    }
    /* targetting html classes */
    .two {
    color:white;
    font-size: 50px;
    }
    /* targetting html ids */
    #two {
    color:white;
    font-size: 30px;
    }
    table {
    width: 100%;
    border: 1px dotted black;
    border-collapse: collapse;
    }
    /* giving two elements same style */
    th,td {
    border: 1px solid black;
    padding: 8px;
    text-align: center;
    }
    tr:hover {
    background-color: green;
    }
    ul ol li {
    color: red;
    }
    ul ul li{
        color: blue;
    }
    ol ul li {
    color:purple;
    }
    ol ol li{
        color: brown;
    }
    button{
        background-color:grey;
        color:white;
        border: 0px;
        border-radius: 10px;
        padding: 5px;
    }
    button a{
        text-decoration: none;
        padding: 5px;
        border-radius: 10px;
        color: white;
    }
    button a:hover{
        transition-duration: 0.6s;
     border-radius: 10px;
        color: black;
        padding:10px 20px;
    }